<p>Hey <%= @resource.email %>!</p>

<p>Jemand hat einen Passwort Reset Link angefordert. Um dein Passwort zu resetten, klick einfach auf den Link unten.</p>

<p><%= link_to 'Mein Passwort &auml;nder', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du keinen Passwort reset angefordert hast, ignoriere diese Mail einfach.</p>
<p>Dein Passwort wird sich nicht ver&auml;ndern, bevor du nicht auf den Link klickst und ein neues Passwort eingibst..</p>
